* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state {
  transition: all 1s ease-out;
  fill: #3f3c3c;
} /* default color for all states not specified below */
.borders {
  stroke: #5efaff;
  stroke-width: 1;
} /* color and width of borders between states */
.dccircle {
  display: none;
} /* set display to yes to show the circle for the District of Columbia, or none to hide it */
.separator1 {
  stroke: #b0b0b0;
  stroke-width: 2;
} /* color and width of lines around Alaska and Hawaii */

/* Individual states can be colored as follows:
.ks,.mt,.pa {fill:#0000FF}
.ca,.de {fill:#FF0000}
In this example, Kansas, Montana and Pennsylvania are colored blue, and California and Delaware are colored red.
Place this code in the empty space below. */
